<style>
	#title {
		background-color:eeeeee;
		color:white;
		float:center;
		text-align:center;
		padding:2px;
}
	#nav {
	line-height: 30px;
	background-color: #CCCCCC;
	height: 300px;
	width: 100px;
	float: left;
	padding: 5px;
}
	#section {
		width:500px;
		float:left;
		padding:10px; 
	}
	#footer {
	background-color: #C0C0C0;
	color: white;
	clear: both;
	text-align: center;
	padding: 5px;
}
</style>